.house_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_carrousel {
        position: relative;

        &_wrapper {
            width: 100%;
            height: 415px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            border-radius: 25px;
        }

        &_picture {
            width: 100%;
            // height: 415px;
            object-fit: cover;
            // border-radius: 25px;
            flex-shrink: 0;
            flex-grow: 0;
            transition: translate 0.45s ease-in-out;
        }

        &_previous {
            position: absolute;
            height: 80px;
            top: calc((100% - 80px) / 2);
            left: 24px;
            cursor: pointer;
        }

        &_next {
            position: absolute;
            height: 80px;
            right: 24px;
            top: calc((100% - 80px) / 2);
            cursor: pointer;
        }

        &_index {
            position: absolute;
            left: 50%;
            color: $white;
            bottom: 25px;
            font-size: 18px;
            font-weight: 500;
        }
    }

    &_details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        gap: 24px;

        &_main {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: flex-start;

            &_left {
                display: flex;
                flex-direction: column;
                gap: 20px;

                &_infos {
                    h2 {
                        font-size: 36px;
                        font-weight: 500;
                        color: $red;
                    }

                    h3 {
                        color: $black;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                &_tags {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    flex-wrap: wrap;

                    button {
                        background: $red;
                        color: $white;
                        font-size: 14px;
                        font-weight: 700;
                        height: 25px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 5px 20px;
                        border: none;
                    }
                }
            }

            &_right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;

                &_host {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 64px;
                        height: 64px;
                        border-radius: 50%;
                    }

                    h4 {
                        color: $red;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                &_rating {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    img {
                        width: 24px;
                    }
                }
            }
        }

        &_btns {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;

            .collapse {
                width: calc((100% - 76px) / 2);
            }
        }
    }
}

@media screen and (max-width:426px) {
    .house_wrapper {
        gap: 15px;

        &_carrousel {

            &_wrapper {
                height: 255px;
            }

            &_previous {
                height: 24px;
                top: calc((100% - 24px) / 2);
            }

            &_next {
                height: 24px;
                top: calc((100% - 24px) / 2);
            }

            &_index {
                display: none;
            }
        }

        &_details {
            gap: 15px;

            &_main {
                flex-direction: column;
                gap: 15px;

                &_left {
                    gap: 15px;

                    &_infos {
                        h2 {
                            font-size: 18px;
                        }

                        h3 {
                            font-size: 14px;
                        }
                    }

                    &_tags {
                        button {
                            font-size: 10px;
                        }
                    }
                }

                &_right {
                    flex-direction: row-reverse;
                    align-items: center;

                    &_host {
                        img {
                            width: 32px;
                            height: 32px;
                        }

                        h4 {
                            font-size: 12px;
                        }
                    }

                    &_rating {
                        img {
                            width: 14px;
                        }
                    }
                }
            }

            &_btns {
                flex-direction: column;
                gap: 20px;

                .collapse {
                    width: 100%;
                }
            }
        }
    }
}